.statistics{
    width:90%;
    margin:auto;
    margin-top:-140px;
    position:relative;
    z-index:10;
    margin-top:-350px;
}

.statistics-title{

    color:white;

    font-size:22px;

    margin-bottom:30px;

    font-weight:600;

}

.statistics-container{

    display:flex;
    justify-content:flex-start;

    gap:8px;

    flex-wrap:wrap;

}