.Titulo_questions {
    color: #e8edff;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: .3px;
    margin-bottom: 24px;
}
.scroll_animation{

    opacity:0;

    transform:translateY(50px);

    transition:

        opacity .8s ease,

        transform .8s ease;

}



.scroll_animation.show{

    opacity:1;

    transform:translateY(0);

}